.navbar.navbar-default
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{:href => "/"} Photo App
  .navbar-collapse.collapse.navbar-responsive-collapse
    %ul.nav.navbar-nav
      %li
        %a{:href => "/photos"} Photos
      %li
        %a{:href => "/events"} Events
    %form.navbar-form.navbar-right
      %input.form-control.col-lg-8{:placeholder => "Search", :type => "text"}
    %ul.nav.navbar-nav.navbar-right
      %li
        %a{:href => "/comments"} Comments
      %li
        %a{:href => "/tags"} Tags    
      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          Me
          %b.caret
        %ul.dropdown-menu
          %li
            %a{:href => "/users/show"} View Account
          %li
            %a{:href => "/users/edit"} Edit Account
          %li.divider
          %li.dropdown-header 
          %li
            %a{:href => "#"} Logout

.container
  .page-header
    .row
      %h1{ :style => "text-align:center"} All Tags
      - @tags.each do |t|
        .col-md-4 
          = t.name
          %p
          Tagged To:
          = t.photo.name
          %p
          Date Created:
          = t.created_at
          %p          
          / Date Last Updated:
          / = t.updated_at
          / %br
          / %br
          / = link_to "Show", tag_path(t)
          / = " | "
          / = link_to "Edit", edit_tag_path(t), method: "get"
          / = " | "
          = link_to "Delete", tag_path(t), :method => :delete
          %br
          %br
  / = button_to 'Add Tag', new_tag_path, method: "get", :class => "button btn btn-lg btn-primary"