.navbar.navbar-default
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{:href => "/"} Photo App
  .navbar-collapse.collapse.navbar-responsive-collapse
    %ul.nav.navbar-nav
      %li
        %a{:href => "/photos"} Photos
      %li
        %a{:href => "/events"} Events
    %form.navbar-form.navbar-right
      %input.form-control.col-lg-8{:placeholder => "Search", :type => "text"}
    %ul.nav.navbar-nav.navbar-right
      %li
        %a{:href => "/comments"} Comments
      %li
        %a{:href => "/tags"} Tags    
      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          Me
          %b.caret
        %ul.dropdown-menu
          %li
            %a{:href => "/users/show"} View Account
          %li
            %a{:href => "/users/edit"} Edit Account
          %li.divider
          %li.dropdown-header 
          %li
            %a{:href => "#"} Logout

.container
  .page-header
    .row 
    %h1 New Photo

    = form_for @new_photo, url: "/photos" do |f|
      = render 'form', f: f
      = f.submit "Save", :class => "button btn btn-lg btn-primary"

    %br
    = button_to 'Back', photos_path, method: "get", :class => "button btn btn-lg btn-primary"
    %br
    %br